name: jetx
description: A library for building Flutter applications with JetX it's a fork of GetX.
version: 0.1.0-alpha.5
homepage: https://github.com/fathialamre/jetx

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ">=1.0.0 <2.0.0"

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
